Checks: 'clang-analyzer-*,cppcoreguidelines-*,hicpp-*,modernize-*,bugprone-*,performance-*,readability-*,-readability-identifier-length,-modernize-use-trailing-return-type,-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers,-bugprone-easily-swappable-parameters'